$color-primary: #0b002a;
$color-secondary: #ff748b;

$color-white: #fffeff;
$color-black: #242424;

$color-grey-light: #dae2ef;
$color-grey-light-2: #dae2ef;
$color-grey-dark: #d1cbcd;
$color-grey-dark-2: #828d9d;

$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-small: 'only screen and (min-width: 0px)';
$breakpoint-medium: 'only screen and (min-width: 768px)';
$breakpoint-large: 'only screen and (min-width: 1008px)';
$breakpoint-xl: 'only screen and (min-width: 1300px)';
