$color-primary: #0b002a;
$color-secondary: #ff748b;

$color-white: #fffeff;
$color-black: #242424;

$color-grey-light: #f9f8f4;
$color-grey-light-2: #dae2ef;
$color-grey-dark: #d1cbcd;
$color-grey-dark-2: #828d9d;
