@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import 'reset';
@import 'variables';
@import 'listings';
@import 'content-area';
@import 'grid';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.25%;
  letter-spacing: 0.15rem;
}

body {
  font-family: 'Roboto', sans-serif;
  // background: purple;
  font-size: 1.6rem;
}
